@import '_vars';

@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ostrich_sansblack';
    src: url('../fonts/ostrichsans-black-webfont.woff2') format('woff2'),
         url('../fonts/ostrichsans-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ostrich_sansbold';
    src: url('../fonts/ostrichsans-bold-webfont.woff2') format('woff2'),
         url('../fonts/ostrichsans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ostrich_sansmedium';
    src: url('../fonts/ostrichsans-medium-webfont.woff2') format('woff2'),
         url('../fonts/ostrichsans-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 0 auto;
    font-family: 'open_sansregular', Helvetica, Arial, sans-serif;
}

a,
a:visited,
a:focus,
a:active,
a:link {
  text-decoration: none;
  outline: 0;
}

a {
  color: currentColor;
  transition: .2s ease-in-out;
}

a:hover{
    color: $green;
}

ul {
  padding: 0;
  list-style: none;
}

/* =========
VARIABLES
========= */
:root {
    --offset-value: 30;
    --btn-size: 60;
}


/* =====================
NAVIGATION BACKGROUND
===================== */
#nav-bg {
    background-color: $grey;
    transform-origin: center center;
    transition: transform .3s;
    transform: translate(var(--translate-y), var(--translate-x)) scale(var(--scale));
    will-change: transform;
    pointer-events: none;
}


/* ======
BUTTON
====== */
.btn {
    position: fixed;
    height: calc(var(--btn-size)*1px);
    width: calc(var(--btn-size)*1px);
    top: calc((var(--offset-value))*1px);
    right: calc(var(--offset-value)*1px);
    /*left: calc(50% - (var(--btn-size)/2*1px)); if you wish to center it */
    border-radius: 50%;
    background: #fafafa;
    cursor: pointer;
    margin: 0;
    padding: 0 15px;
    border: none;
    z-index: 100;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#toggle-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $grey;
    box-shadow: 0 6px 12px rgba(0,0,0,.1);
    transition: transform .3s;
}

#toggle-btn span {
    position: relative;
    width: 100%;
}

#toggle-btn span {
    margin-top: -4px;
}
#toggle-btn span + span {
    margin-top: 8px;
}

#toggle-btn span:before,
#toggle-btn span:after {
    content: '';
    position: absolute;
    top: 0;
    background: currentColor;
    opacity: .8;
    height: 100%;
    width: 50%;
    height: 4px;
    transition: .25s cubic-bezier(.6,0,.3,1);
    transform-origin: center center;
}

#toggle-btn span:before {
    left: 0;
    border-radius: 3px 0 0 3px;
}

#toggle-btn span:after {
    right: 0;
    border-radius: 0 3px 3px 0;
}

#toggle-btn.shown span:nth-of-type(1):before {
    transform: translate3d(3px, 3.5px, 0) rotate(45deg);
}

#toggle-btn.shown span:nth-of-type(1):after {
    transform: translate3d(-3px, 3.5px, 0) rotate(-45deg);
}

#toggle-btn.shown span:nth-of-type(3):before {
    transform: translate3d(3px, -3.5px, 0) rotate(-45deg);
}

#toggle-btn.shown span:nth-of-type(3):after {
    transform: translate3d(-3px, -3.5px, 0) rotate(45deg);
}

#toggle-btn.shown span:nth-of-type(2):before,
#toggle-btn.shown span:nth-of-type(2):after {
    opacity: 0.0001;
}

#toggle-btn.shown span:nth-of-type(2):before {
    transform: translateX(-200%);
}

#toggle-btn.shown span:nth-of-type(2):after {
    transform: translateX(200%);
}

#toggle-btn.shown:before {
    transform: scale(.6);
    transition: .2s;
}

#toggle-btn:before {
    content: '';
    transition: .2s .2s;
    position: absolute;
    top: 3px;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.1);
    border-radius: inherit;
    filter: blur(5px);
    z-index: -2;
}
#toggle-btn:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background: $white;
    z-index: -1;
}

/* ==========
NAVIGATION
========== */
nav {
    width: 100%;
    height: 100%;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    z-index: 200;
    pointer-events: none;
}

nav ul {
    margin: auto;
    pointer-events: auto;
    text-align: center;
}

nav li {
    font-size: 30px;
    color: $white;
    user-select: none;
    transform: translate(-20px,20px) scale(.9);
    transition: 0s;
    opacity: 0.0001;
    visibility: hidden;
    will-change: transform;
}

nav li + li {
    margin-top: 30px;
}

#toggle-btn.shown ~ #menuNav nav li {
    transform: none;
    opacity: 1;
    visibility: visible;
    transition: .35s cubic-bezier(.4,2.08,.55,1);
}

#toggle-btn.shown ~ #menuNav nav li:nth-child(1) {
    transition-delay: .15s;
}
#toggle-btn.shown ~ #menuNav nav li:nth-child(2) {
    transition-delay: .125s;
}
#toggle-btn.shown ~ #menuNav nav li:nth-child(3) {
    transition-delay: .1s;
}

/* ============
LINK EFFECT
============ */
.link {
    position: relative;
    touch-action: manipulation;
    -webkit-tap-highlight-color: $grey;
}

.link:before,
.link:after {
    position: absolute;
    content: '';
    height: 3px;
    width: 50%;
    background: $pink;
    top: calc(50% + 2px);
    transition: transform .3s cubic-bezier(.5,.5,0,1);
}

.link:before {
    left: 0;
    transform: translateX(calc(-100% - 10px)) scaleX(0);
    transform-origin: left;
}

.link:after {
    right: 0;
    transform: translateX(calc(100% + 10px)) scaleX(0);
    transform-origin: right;
}

.link:hover:before {
    transform: translateX(calc(-100% - 10px)) scaleX(1);
    transform-origin: right;
}

.link:hover:after {
    transform: translateX(calc(100% + 10px)) scaleX(1);
    transform-origin: left;
}




/* Usual suspects */
/** {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

a,
a:visited,
a:focus,
a:active,
a:link {
  text-decoration: none;
  outline: 0;
}

a {
  color: currentColor;
  transition: .2s ease-in-out;
}

ul {
  padding: 0;
  list-style: none;
}

img {
  vertical-align: middle;
  height: auto;
  width: 100%;
}

div{
    border: 1px solid #000;
}*/

/*#menuContainer{
    border: 1px solid #000;
    height: auto;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    font-family: $font-menu;
    font-size: $font-menu-size;
}

#imgLogo{
    margin-left: 15%;
    width: 40%;
    height: auto;
}

#banner1{
    border: 1px solid #000;
    padding: 0;
}

@media screen and (max-width: 1024px){
    #banner1{
        width: 130%;
        height: auto;
        margin-left: -12%;
    }
}

.menu-icon {
    color: $grey;
}

@media screen and (max-width: 750px){
    .top-bar-right{
        margin-top:2%;
        position: fixed;
        background-color: $white;
    }
    .top-bar-right ul{
        display: inline-block;
    }
    .top-bar-right li{
        border: 1px solid #
        padding-top:2%;
    }
    .title-bar{
        background-color: $white;
    }
}

@media screen and (max-width: 1024px){
    #imgLogo{
        margin-left: 10%
    }
}

@media screen and (max-width:  750px){
    .row{
        margin-left: 0%;
        margin-right: 0%;
    }

}

#menuContainer a{
    color: $grey;
}
.menu-icon {
    color: $grey;
    border: 1px solid #000;
}

.top-bar-right{
    border: 1px solid #000;
    background-color: $white;
    position: fixed;
    width: 100%;
    padding: 1.5%;
}

@media screen and (max-width: 750px){
    .top-bar-right{
        margin-top:9%;
    }
    .top-bar-right ul{
        display: inline-block;
    }
    .top-bar-right li{
        padding-top:11px;
    }
    .title-bar{
        background-color: $white;
        position: fixed;
        width: 100%;
    }
}

@media screen and (min-width: 750px){
    .title-bar{
        background-color: $white;
    }
}

#mainMenu ul li{
    padding-left: 7%;
}

.top-bar-right{
    background-color: $white;
    width: 100%;
    padding: 1.5%;
}*/